h2 {
    font-weight: 400;
}

.centering-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    padding-top: 30px;
}

.centered-wrapper {
    width: 1200px;
}

.section-title {
    margin: 50px 0;
    font-size: 24px;
    font-weight: 700;
    color: rgba(134, 133, 133, 1);
}

.solar-center {
    display: flex;
    width: 100vw;
    height: 500px;
    min-width: 1200px;
    margin: 150px 0;
    background-image: url("./../images/center.jpg");
}

.solar-center__text {
    width: 760px;
    margin: auto;
    text-align: center;
    font-size: 29px;
    color: white;
}
